
.major-mono-display-regular {
    font-family: "Major Mono Display", serif;
    font-weight: 400;
    font-style: normal;
  }
  .righteous-regular {
    font-family: "Righteous", serif;
    font-weight: 400;
    font-style: normal;
  }

h2{
    margin-bottom: 1%;
}

p{
    margin-bottom: 2%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ececeb;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    min-height: 100vh;
}

.here{
    
    text-shadow: -1px 1px #000000;
    color: #00FFFF
    !important;
}
.navdiv{
    border-color: black;
    border-bottom-style:groove;
    color: #ff0000 ;
    font-size: 75%;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 5%;
    float: left;
    text-align: center;
    font-family: "Major Mono Display", serif;
}

.sidebar {
    border-style: solid;
    border-width: 2%;
    border-color:black;
    width: 250px;
    background-color: #ececeb;
}

.sidebar nav ul {
    padding-left: 2%;
border-left-color: black;
border-left-width: 2%;
border-left-style: dashed;
    margin-left: 10%;
    margin-top: 20%;
    list-style: none;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    font-family: "Major Mono Display", serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.1em;
}

.sidebar nav ul li a:hover {
    color: #ff00ff ;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content {

    flex: 1;
}


.page-content-top{
    margin-right: 5%;
    margin-left: 2%;
}


.welcome-message {
    font-size: 200%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom-width: 2%;
    border-style:groove;
    margin-bottom: 30px;
}

.footer {
    border-top-style: dotted;
    border-color: black;
    border-top-width: 2%;
    border-left-width: 0%;
    font-family: "Righteous", serif;
    background-color: #ececeb;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}

.berlinsil{
    padding-right: 5%;
    float: right;
    width: 20%;
    height: auto;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }
}

.img{
    width: 50%;
    height: auto;
    border: 2px black dashed;
}